{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card h-100 h-auto">{#   style="height: 92vh !important; background-color: #0d4a79">#}
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <h3 class="card-header ">Products</h3>
                        <div class="card-body overflow-scroll">
                            <div>
                                <a class="btn btn-outline-primary" href="{% url 'addProduct' %} ">Add Product</a>
                                <a class="btn btn-outline-dark float-end" href="{% url 'useProduct' %}">Update Used
                                    Products</a>
                                <br>
                                <br>
                                <table class="table" id="dtBasicExample">
                                    <thead>
                                    <th>Product Image</th>
                                    <th>Product SKU</th>
                                    <th>Product Description</th>
                                    <th>Quantity</th>
                                    <th>Date Added</th>
                                    <th>Location</th>
                                    <th>Actions</th>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>
                                                <img style="max-width: 13vw;max-height:13vh;object-fit: contain"
                                                     src="{{ product.image.url }}"/>
                                            </td>
                                            <td>{{ product.productSku }}</td>
                                            <td>{{ product.productDescription }}</td>
                                            <td>{{ product.quantity }}</td>
                                            <td>{{ product.dateAdded }}</td>
                                            <td>{{ product.location }}</td>
                                            <td>
                                                <a href="{% url 'editProduct' %}?productId={{ product.productSku }}"><i
                                                        class="font-20 mdi mdi-pencil-box-outline"></i></a>
                                                {#                                                <a class="btn btn-sm btn-outline-primary" href="{% url 'useProduct' %}?productId={{ product.productSku }}" >Withdraw</a>#}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock %}