{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card h-100 h-auto">{#   style="height: 92vh !important; background-color: #0d4a79">#}
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card col-lg-12 col-sm-12 m-auto">
                        <h3 class="card-header ">Product Count Report</h3>
                        <div class="card-body overflow-scroll">
                            <div>
{#                                <a class="btn btn-outline-primary" href="{% url 'addProduct' %} ">Add Product</a>#}
                                {#                                <a class="btn btn-outline-dark float-end" href="{% url 'useProduct' %}">Update Used#}
                                {#                                    Products</a>#}
                                <br>
                                <br>
                                <table class="table" id="dtBasicExample">
                                    <thead>
                                    <th>Product Image</th>
                                    <th>Product SKU</th>
                                    <th>Product Description</th>
                                    <th>Total Count</th>
                                    <th>Date Added</th>

                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>
                                                <img style="width: 13vw;height:13vh;object-fit: contain"
                                                     src="{% get_media_prefix %}{{ product.1 }}"/>
                                            </td>
                                            <td>{{ product.2 }}</td>
                                            <td>{{ product.3 }}</td>
                                            <td>{{ product.0 }}</td>
                                            <td>{{ product.4 }}</td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}