{% extends 'base.html' %}
{% load static %}
{% block content %}
    {#    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <style>
        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        .autocomplete {
            position: relative;

        }


        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
    </style>
    <div class="card  h-100 h-auto">{#   style="height: 92vh !important; background-color: #0d4a79">#}
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card col-lg-6 col-sm-12 m-auto border-primary shadow">
                        <h3 class="card-header ">Update Used Product {{ product.productSku }}</h3>
                        <div class="card-body">
                            <center>
                                <h6>QR CODE</h6>
                                <video style="height: 20vh !important;" id="preview"></video>
                            </center>
                            <div>
                                <div class="mx-auto mt-2 mb-2">
                                    {% if msg %}
                                        <div class="alert alert-info" role="alert">
                                            {{ msg }}
                                        </div>
                                    {% endif %}
                                    <div class="card">
                                        <div class="card-body">
                                            <form method="GET" autocomplete="off" id="searchSubmitForm">
                                                <div class="autocomplete">
                                                    <input autocomplete="off" class="form-control"
                                                           name="productSkuAndLocation"
                                                           id="searchInput"
                                                           value="{{ product.productSku }},{{ product.location }}"
                                                           placeholder="Search Product by SKU,Location"/>
                                                </div>
                                                <br>
                                                <input type="submit" class="btn btn-sm float-end btn-outline-primary"
                                                       value="Search">
                                            </form>
                                        </div>
                                    </div>
                                    {#                                    <form autocomplete="off"><input type="text" name="q" id="q"#}
                                    {#                                        <span style="font-weight: 400;">onKeyUp</span>="showResults(this.value)" />#}
                                    {#                                    </form>#}
                                </div>



                                {% if product %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <label for="productSku"> Product SKU</label>
                                        <input class="form-control" type="text" name="productSku"
                                               value="{{ product.productSku }}" hidden/>

                                        <label for="productDescription">Product Description</label>
                                        <input class="form-control" type="text" name="productDescription"
                                               value="{{ product.productDescription }}" readonly/>

                                        <label for="location">Location</label>
                                        <input class="form-control" type="text" name="location"
                                               value="{{ product.location }}" readonly/>

                                        <label for="quantity">Quantity to Withdraw</label>
                                        <input class="form-control" type="number" name="quantity"
                                               max="{{ product.quantity }}"/>

                                        <label for="typeOfUse">Type</label>
                                        <input class="form-control" type="text" name="typeOfUse"
                                               value="Job" readonly/>


                                        <br>
                                        <input type="submit" class="btn form-control btn-outline-primary"
                                               value="Update Used Product"/>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        {##}
        {#        var html5QrcodeScanner = new Html5QrcodeScanner(#}
        {#            "qr-reader", {fps: 10, qrbox: 200});#}
        {#        html5QrcodeScanner.render(onScanSuccess);#}
        {##}
        {#        function onScanSuccess(decodedText, decodedResult) {#}
        {#            console.log(`Code scanned = ${decodedText}`, decodedResult);#}
        {#            document.getElementById("searchInput").value = decodedText;#}
        {#            html5QrcodeScanner.clear();}#}


        function autocomplete(inp, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                {#if (!val) {#}
                {#    return false;}#}
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });

            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }

            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }

            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }

            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        var countries = "{{ products }}"
        var dropDownOptions = countries.replaceAll("&#x27;", "\"")

        console.log(JSON.parse(dropDownOptions))
        autocomplete(document.getElementById("searchInput"), JSON.parse(dropDownOptions))

        {# SCANNER #}
        let scanner = new Instascan.Scanner({video: document.getElementById('preview')});
        scanner.addListener('scan', function (content) {
            document.getElementById("searchInput").value = content;
            document.getElementById("searchSubmitForm").submit();
        });


        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                if (cameras.length > 1) {
                    scanner.start(cameras[1]);
                } else {
                    scanner.start(cameras[0]);
                }
            } else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        })
    </script>
{% endblock %}