{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .image:hover {
            transform: scale(3.0);
            transform-origin: left;
            -moz-transition: all 0.1s;
            -webkit-transition: all 0.1s;
            -o-transition: all 0.1s;
            transition: all 0.1s;
        }
    </style>
    <div class="card h-100 h-auto">{#   style="height: 92vh !important; background-color: #0d4a79">#}
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card col-lg-12 col-sm-12 m-auto">
                        <h3 class="card-header ">Usage Report for last 7 days</h3>
                        <div class="card-body overflow-scroll">
                            <div>
                                {#                                <a class="btn btn-outline-primary" href="{% url 'addProduct' %} ">Add Product</a>#}
                                {#                                <a class="btn btn-outline-dark float-end" href="{% url 'useProduct' %}">Update Used#}
                                {#                                    Products</a>#}
                                <h4 id="date" class="float-end"></h4>
                                <br>
                                <br>
                                <table class="table" id="dtBasicExample">
                                    <thead>
                                    <th>Product SKU</th>
                                    <th>Product Description</th>
                                    <th>Quantity Used</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    </thead>
                                    <tbody>
                                    {% for transaction in transactions %}
                                        <tr>
                                            <td>{{ transaction.product.productSku }}</td>
                                            <td>{{ transaction.product.productDescription }}</td>
                                            <td>{{ transaction.quantityUsed }}</td>
                                            <td>{{ transaction.type }}</td>
                                            <td>{{ transaction.dateUsed }}</td>
                                            {#                                                <td>#}
                                            {#                                                    <a href="{% url 'editProduct' %}?productId={{ product.productSku }}"><i#}
                                            {#                                                            class="font-20 mdi mdi-pencil-box-outline"></i></a>#}
                                            {#                                                <a class="btn btn-sm btn-outline-primary" href="{% url 'useProduct' %}?productId={{ product.productSku }}" >Withdraw</a>#}
                                            {#                                                </td>#}
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable({"bSort": true});
            $('.dataTables_length').addClass('bs-select');
            n = new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("date").innerHTML = "Date: " + d + "-" + m + "-" + y;
        });
    </script>
{% endblock %}